html{
    font-size: 14px !important;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(200px);
}

.p-speeddial{
    position:unset !important;
}

.p-speeddial-button.p-button.p-button-icon-only, .p-speeddial-action{
    width: 2rem !important;
    height: 2rem !important;
}

.p-speeddial-button.p-button.p-button-icon-only .p-button-icon{
    font-size: 1rem !important;
}